/* Intègre des boîtes rouges autour de chaque DIV */
/*
* {
  	box-shadow: 0 0 0 3px red inset;
}
*/


html {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

/* CSS de base pour toute la page */
header {
	max-width: 100%;
	background: #FFFFFF;
	color: #3BC8E7;
}

body {
	background: #16151A;
	color: #F0F5F9;
	font-size: 14px;
	line-height: 16.8px;
	/*overflow-x: hidden;*/

	margin: 0;
	padding: 0;
}

footer {
	background: #16151A;
}

svg {
	float: left;
}

/* Test de changement d'un élément de couleur  */
/*circle:hover {
	fill: green;
}*/

.container {
	max-width: 1440px;
	margin: auto;
	font-family: 'Urbanist', Verdana, sans-serif;
}

.div_error_curl {
	color: red;
	font-size: 30px;
	font-weight: 900;
}

.container:fullscreen {
	max-width: 100%;
}

.img_logo {
	height: 30px;
	margin-right: 19px;
}

.site_name_slogan {
	display: flex;
	flex-direction: row;
}

.blue_text {
	color: #3BC8E7;
}

.general_button {
	font-family: 'Open Sans', Versana, sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 25px;
	text-align: center;
	text-decoration: none;
	color: #F0F5F9;

	border: solid;
	border-color: #3BC8E7;
	margin-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;

	cursor: pointer;

}

.blue_button {
	background-color: #3BC8E7;
}

.transparent_button {
	background-color: #1fe0; /*Transparent*/
}

.div_category_title {
	font-weight: 900;
	font-size: 18px;
	line-height: 21.6px;
}

/* Pour les 2 parties demandant des caroussels (genres et top playlist) */
.div_caroussel {
	margin-top: 60px;
	margin-left: 90px;
}

.div_caroussel_title {
	margin-left: 13px;
	margin-bottom: 20px;

}

.div_caroussel_elements_list {
	display: flex;
	flex-direction: row;

	/* Les caroussels font maximum la largeur de la page,
	n'ont pas de barre de défilement et quand leur scroll
	se fait de manière animé */ 
	max-width: 1440px;
	/*overflow-x: hidden;*/
	scroll-behavior: smooth;

	/* Empêche l'utilisateur de sélectionner
	des éléments en voulant déplacer le carrousel...
	Maintenant faut voir pour l'empêcher de drag des images) */
	user-select: none;

	/*pointer-events: none; Bloque toute intéraction donc les scripts javascript donc cela ne va pas */

}

.div_caroussel_one_element {
	font-weight: 700;
	line-height: 30px;

	margin-right: 23px;
	display: flex;
	flex-direction: column;
	cursor: pointer;
}

.img_caroussel {
	width: 184px;
}

.text_caroussel {
	margin-left: 6px;
}

/*--------------------------------------------*/

.slide-arrow {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 4rem;
  background-color: white;
  border: none;
  width: 2rem;
  font-size: 3rem;
  padding: 0;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 100ms;
}
.slide-arrow:hover,
.slide-arrow:focus {
  opacity: 1;
}
#slide-arrow-prev {
  left: 0;
  padding-left: 0.25rem;
  border-radius: 0 2rem 2rem 0;
}
#slide-arrow-next {
  right: 0;
  padding-left: 0.75rem;
  border-radius: 2rem 0 0 2rem;
}

/*--------------------------------------------*/

/* Barre de navigation du Header */
.div_navigation_bar {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.div_navigation_bar_1 {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.div_navigation_bar_2 {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.div_navigation_bar_empty_space {
	margin: auto;
}

.input_text {
	font-size: 14px;

	padding-left: 25px;
	background-color: #F0F5F9;
	border: none;
}

.input_text::placeholder {
	font-size: 14px;

	color: #3BC8E7;
}

.form_search_music {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#search_music_name {
	height: 38px;
	width: 250px;
}

#form_search_music_button {
	height: 29px;
	width: 29px;
	background: url(images/Logos/Logo_music.png) no-repeat scroll;
	background-size: 29px;
	background-position: center;
	border: none;
	cursor: pointer;

	margin-right: 60px;
	margin-left: -35px;
}

#search_music_name:background {
	cursor: pointer;
}

.div_navigation_bar_profil {
	font-weight: 900;

	display: flex;
	flex-direction: row;
	align-items: center;

	margin-right: 70px;

	cursor: pointer;
}

#img_profil {
	width: 31px;
	border-radius: 50%;
	margin-right: 18px;

}


/* Présentation avec titre et boutons pour écouter/s'abonner */
.div_presentation {
	/*background-image: url(https://images.ctfassets.net/wcfotm6rrl7u/1rmxjzUn8UoCrRgbL4vfCW/264974c8b309ce2fdca89d952768a309/nokia_Headphones_E1200-og_image.jpg);*/
	background-image: url(images/Nokia_Headphones.jpg);
	background-size: cover;
	padding-top: 200px;
	padding-left: 65px;
	padding-bottom: 100px;
	max-width: 1440px;
}

.div_navigation_bar_svg {
	width: 50px;
	height: 50px;
	margin-right: 23px;
}

#svg_navigation_bar {
	cursor: pointer;
}

.div_title {
	font-weight: 900;
	font-size: 96px;
	line-height: 115.2px;
}

#presentation_paragraphe {
	font-family: 'Open Sans', Verdana, sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 25px;

	margin-bottom: 30px;
}

.div_presentation_buttons {
	display: flex;
	flex-direction: row;
	max-width: 450px;
}
/* Les boutons sont gérés par les DIV en haut de code
à l'exception ce la partie qui permet de les avoir à la
même taille sur la même ligne */
.presentation_buttons {
	flex: 1;
}


/* Les genres sont gérés par les DIV des caroussels */

/* Les 2 tops 10, les éléments "Music" sont aussi utilisés par le player en bas de la page*/
.div_top_10 {
	margin-top: 123px;
	padding-left: 90px;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.47) 0%, rgba(196, 196, 196, 0) 100%);

	/* Essaye d'afficher les 2 tableaux sur la 
	même ligne, si il n'y a pas assez de place,
	il les affichera en colonne */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.div_top_10_table {
	display: flex;
	flex-direction: column;
	margin-right: 82px;
}

.div_top_10_title {
	padding-top: 37px;
	margin-bottom: 20px;
	margin-left: 6px;
}

.div_music_element {
	display: flex;
	flex-direction: row;
	align-items: center;

	max-width: fit-content;

	margin-top: 5px;
	margin: auto;

	padding-top: 16px;
	padding-bottom: 11px;
	padding-left: 6px;
	padding-right: 6px;
}

.div_music_number_picture {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.div_top_10_element {
	border-bottom: solid;
	border-bottom-width: 1px;
	/*Du gris avec 20% d'opacité*/
	border-bottom-color: rgba(196, 196, 196, 0.2);

	cursor: pointer;

}


@keyframes top_10_hover {
	from {background-color: #1fe0;}
	to {background-color: rgba(59, 200, 231, 0.2);}
}

.div_top_10_element:hover {
	/* Cet élément à une animation qui le fait passer au bleu quand on
	place le souris dessus */
	animation-name: top_10_hover;
    animation-duration: 0.5s;

    /* Permet de garder la couleur après l'animation */
	background-color: rgba(59, 200, 231, 0.2);
}

.number_top_10 {
	font-weight: 700;

	width: 17px;
	margin-right: 10px;
}

.img_music {
	width: 60px;
	margin-right: 16px;
}

.div_music_title_author {
	font-weight: 700;

	width: 420px;
	text-overflow: ellipsis;
}

/* Comme le nom de l'auteur n'est pas en gras contrairement au titre */
.author {
	font-weight: 300;
}

.div_music_lenght {
	font-weight: 300;

	color: #F0F5F9;
}

/* Artiste du moment */
.div_artist_moment {
	/*background-image: url(images/placeholder/Ninho.jpg);*/

	/* Pour essayer d'avoir une image un peu près centré */
	/*background-position-y: -200px;*/
	background-position-y: 14%;

	background-size: cover;
	margin-top: 150px;
	padding-top: 256px;
	padding-left: 65px;
	padding-bottom: 71px;
	max-width: 1440px;

	display: flex;
	flex-direction: column;
}

.div_artist_moment_error {
	background-image: url('images/Artist_moment_error_background.jpg');
	background-position-y: initial;
}

.div_artist_moment:hover {
	cursor: pointer;
}

.div_artist_moment_elements {
	margin-left: 10px;
}

#div_artist_moment_paragraph {
	font-family: 'Roboto', Verdana, sans-serif;
	font-weight: 900;
	font-size: 36px;
	line-height: 42.19px;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

	margin-left: 100px;
}

/* Le top des playlist est géré par les DIV des caroussels */

/* Les replay des émissions de radio */
.div_replay_radio {
	margin-top: 49px;
	margin-left: 90px;
}

.div_radio_replay_title {
	margin-bottom: 20px;
	margin-left: 6px;
}

.div_replay_radio_images {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.img_replay_radio {
	width: 288px;
	margin-right: 34px;
	margin-bottom: 34px;
	cursor: pointer;
}

/* Infos en bas de page */
.footer_info {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-top: 43px;
	padding-bottom: 60px;
}

.footer_info_general {
	margin-left: 100px;
	max-width: 350px;
	margin-bottom: 20px;
}

.footer_info_general_titre {
	margin-bottom: 32px;

}

.div_info_general_name {
	font-weight: 900;

	display: flex;
	flex-direction: column;
}

#info_general_slogan {
	font-weight: 300;
	font-size: 12px;
	line-height: 14.4px;
}

#info_general_paragraphe {
	font-weight: 400;
	line-height: 20.93px;
}

.footer_info_newsletters {
	display: flex;
	flex-direction: column;
	max-width: 280px;
	margin-left: 113px;
	margin-bottom: 40px;
}

.div_footer_title {
	margin-top: 5px;
	margin-bottom: 20px;
}

#newsletter_paragraphe {
	font-weight: 400;
	margin-bottom: 20px;
}

.form_info_newsletters {
	display: flex;
	flex-direction: column;
}

.newsletter_input {
	height: 43px;
	font-weight: 400;

	margin-bottom: 20px;	
}

#newsletter_button {
	max-width: 186px;
}

.footer_info_contact {
	margin-left: 133px;
}

.div_info_contact_elements_group {
	font-weight: 400;
}

.div_info_contact_one_element {
	display: flex;
	flex-direction: row;
	margin-bottom: 28px;
}

.img_contact {
	width: 40px;
	margin-right: 22px;
}

.div_info_contact_element_text {
	display: flex;
	flex-direction: column;
}

.info_contact_element_value {
	font-weight: 900;
}

/* Le lecteur en bas de page */
.footer_player {
	background-color: #111013;
	max-width: 100%;
	justify-content: center;
}

.div_player_info {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.div_footer_player_buttons {
	display: flex;
	flex-direction: row;
}

.div_footer_player_arrow {
	width: 70px;
	height: 100px;
}

.div_footer_player_play {
	width: 80px;
	height: 100px;
	margin-left: 5px;
	margin-right: 5px;
}

#svg_music_previous {
	cursor: pointer;
}

#svg_music_play {
	cursor: pointer;
}

#svg_music_next {
	cursor: pointer;
}


/* Changements de CSS pour les plus petites tailles */
@media screen and (max-width: 1430px) {
	body {
		background-color: yellow;
		font-size: 20px;
        line-height: 22px;
	}

	.general_button {
		font-size: 20px;
	}

	.input_text {
		font-size: 20px;
	}

	.input_text::placeholder {
		font-size: 20px;
	}

	.div_navigation_bar_svg {
		width: 70px;
		height: 70px;
	}

	#img_profil {
    	width: 45px;
    }

	.div_category_title {
		font-size: 25px;
		line-height: 24px;
	}

	#presentation_paragraphe {
		font-size: 22px;
		line-height: 30px;
	}

	.div_top_10 {
		flex-direction: column;
		flex-wrap: nowrap;
	}

	.div_top_10_table {
		align-items: center;
	}

	.img_music {
		width: 80px;
	}

	#info_general_paragraphe {
		line-height: 25px;
	}
}

@media screen and (max-width: 850px) {

	.div_category_title {
		text-align: center;
	}

	.div_navigation_bar {
		flex-direction: column;
		padding-bottom: 5px;
	}

	.div_navigation_bar_1 {
		margin-bottom: 10px;
	}

    body {
        background-color: blue;
    }

    .div_caroussel {
    	margin-left: 10px;
    }

    .img_caroussel {
    	width: 200px;
    }

    #search_music_name {
    	width: 200px;
    	font-size: 16px;
    	padding-left: 15px;
    }

    #search_music_name::placeholder {
    	font-size: 16px;
    }

    .div_presentation {
        background-position: center;
    }

    .div_top_10 {
		margin-top: 150px;
		padding-left: 10px;
	}

	.div_top_10_table {
		margin-right: 0px;
	}

	.div_music_element {
		flex-direction: column;
		font-size: 25px;
		line-height: 30px;
	}

	.img_music {
		width: 120px;
		margin-right: 0px;
	}

	.div_music_title_author {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

    .div_artist_moment {
    	/* Le y est déjà géré par la régle générale */
        background-position-x: center;
    }

    .div_replay_radio {
    	margin-top: 85px;
    	margin-left: 10px;
    }

    /*.div_replay_radio {
        margin: auto;
    }*/

    .img_replay_radio {
    	width: 320px;
    }

    .footer_info {
        margin: auto;
    }

    .footer_info_general {
        margin: auto;
    }

    .footer_info_newsletters {
        margin: auto;
    }

    .footer_info_newsletters {
    	margin-bottom: 20px;
    }

    .footer_info_contact {
        margin: auto;
    }

    .img_contact {
    	width: 60px;
    }

    .footer_player {
        flex-direction: column-reverse;
    }

    .div_player_info {
    	flex-direction: column;
    }

    .div_footer_player_buttons {
    	margin-bottom: 5px;
    }

    .div_footer_player_arrow {
	width: 105px;
	height: 150px;
	}

	.div_footer_player_play {
		margin-left: 10px;
		margin-right: 10px;
		width: 120px;
		height: 150px;
	}

}